# Node.js
node_modules/
dist/
.env*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/
.env*

# Large Files & OS
*.png
!frontend/src/assets/*.png
!frontend/public/assets/*.png
!photobooth/assets/ball.png
!photobooth/assets/stadium-bg.png
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
